.box {
  list-style: none;
  text-align: center;
  background-color:rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 600;
  padding: 15px 10px;
  color: black;
  margin: auto;
}

.box a {
  text-decoration:none;
}

.wrapper {
  background-color:aliceblue;
  width: 250px;
}